body {
	background-color: black;
	color: white;
    box-sizing: border-box;
}
.company {
	display: flex;
	gap: 130px;
	padding-right: 1px;
	
}
.s-media {
	padding-top: 19px;
}
.footer {
	text-align: left;
	flex: 1;
}
.main {
	text-decoration: underline;
	flex: 1;
}